apiVersion: v1
kind: Service
metadata:
  name: sc4s-nodeport
  namespace: sc4s
spec:
  type: NodePort
  selector:
    app: sc4s
  ports:
    - name: syslog-udp
      protocol: UDP
      port: 514
      targetPort: 514
      nodePort: 30514
    - name: syslog-tcp
      protocol: TCP
      port: 514
      targetPort: 514
      nodePort: 31514